*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}
body, html{font-family: 'Roboto',sans-serif; height: 100%; background-color:#eee; color:#000;}
.input-error{
  border-color: red;
}
.Modal {
  max-width:685px;
  border-radius: 5px;
  width:100%;
  background-color: #fff;
  padding:20px;
  margin: 20px 0 20px;
  height: auto;
  border-radius: 5px;
  top:0px;
  position: relative;
  max-height:863px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 16px 32px rgba(44, 39, 56, 0.04), 0px 32px 64px rgba(44, 39, 56, 0.08);
  border-radius: 16px;
}
@media (max-width:767px){
  .Modal{
    height:80%;
    width:90%;
  }
}
.Modal:focus {
  outline: none;
}


.Modal input.active{
  border-color: red;
}
.Modal select {
  word-wrap: normal;
  background: no-repeat;
  border: none;
  border-bottom: 1px solid #dddd;
  width: 100%;
  height: 38px;
  color: #757575;
  appearance: unset;
  background: transparent url(images/dropdown-arrow.svg) no-repeat center right 5px;
}
.Modal select:focus{
  outline:none;
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(40, 10, 51, 0.59);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.ReactModal__Html--open {
  overflow-y: hidden;
}
.ModalHeader {
  padding: 0px;
  margin-bottom:20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ContentModal{
  height: 100%;
  margin-bottom:0px;
  display: flex;
  flex-direction: column;
}


.ModalHeader h3{
  font-size: 28px;
  line-height: 33px;
  color: #FF479D;
  font-weight: 700;
}
.ModalHeader h4{
  font-size: 16px;
  color: red;
}

.react-datetime-picker__wrapper{
  border:none !important;
}

.rbc-toolbar button{
  padding: .28rem 1rem !important;
  font-size:12px;
}
.react-datetime-picker__inputGroup__divider{
  color: #757575 !important;
}

.react-datetime-picker button:focus,.react-datetime-picker input:focus{
  outline:none !important;
}
.react-datetime-picker input{
  color: #757575 !important;
  margin-bottom: 0px !important;
  border-bottom:none !important;
}
span.react-datetime-picker__inputGroup__leadingZero {
  color: #757575 !important;
  font-size: 14px;
  margin-right:8px !important;
}

.rbc-day-slot .rbc-event-content{
  font-size: 80%;
  line-height: inherit !important;
  white-space: nowrap;
}

.react-calendar__tile{
  font-size:12px !important;
  padding:3px !important;
}
.react-calendar{
  width:260px !important;
  border: 1px solid #ccc !important;
}

.modalButton {
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  margin-top:auto;
}
/* @media screen and (-webkit-min-device-pixel-ratio:0) {
  .modalButton{
    margin-bottom:20px;
  }
} */

.modalButton button{
  height: 48px;
  width: 140px;
  font-size: 16px;
  border-radius: 6px;
}
button.cancel{
background: transparent;
color: #000;
padding: 0;
min-width: inherit;
width:auto;
height:auto;
}
button.cancel:focus,button.cancel:active,button.cancel:hover{
  box-shadow: none !important;
  background: transparent !important;
  color: #000 !important;
  padding: 0;
}

.react-calendar__navigation button{
  min-width: 35px !important;
}
.rbc-day-slot .rbc-events-container{
  margin-right:0px !important;
}
.rbc-day-slot .rbc-event{
  background: linear-gradient(151.13deg, #C643FC 0%, #FF7171 114.93%) !important;
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 5px;
height: 100%;
}
.ReactModalPortal{
  z-index:3;
  position: relative;
}
.CalenderSec .rbc-row-content{
  z-index: inherit;
}

.loader{
  margin-top: 15px;
  text-align: center;
}

.btn.btn-primary a{
  font-size: 14px;
color: #fff;
font-weight: 500;
font-family: 'Roboto',sans-serif;
}
.btn.btn-primary a:hover{
  text-decoration:none;
}

.rbc-show-more{
  font-size: 12px !important;
  line-height: 13px !important;
  margin-left: 2px;
}

.rbc-day-slot .rbc-event{
  line-height: 16.5px !important;
  /* border-right: 5px solid #3174ad !important; */
}
.react-calendar__navigation{
  margin-bottom:5px !important;
}
.rbc-time-view .rbc-row{
  min-height: inherit !important;
}

.rbc-time-header{
  margin-right:0px !important
}
.rbc-header{
  background: #e0f1f7;
  font-weight: 500 !important;
  font-size: 10px !important;
  min-height: 50px !important;
  line-height: 50px !important;
  font-size: 11px !important;
}

.rbc-time-slot{
  text-align:right;
}

.rbc-btn-group button + button {
  margin-left: 0 !important;
}
.rbc-btn-group button:first-child{
  border-right:1px solid transparent !important;
}

.rbc-btn-group button:focus{
  outline:none !important;
  border-color:#000 !important;
}

.rbc-toolbar button:active, .rbc-toolbar button.rbc-active{
  box-shadow: none !important;
}

.rbc-day-slot .rbc-event.rbc-selected{
  border-color: #3174ad !important;
  background-color: #3174ad !important;
}

.ReactModal__Body--open{
  position: fixed;
  width:100%;
}
.active{
  border-bottom: 2px solid #f4479d !important;
  opacity:1 !important;
}
.rbc-toolbar{
  margin-bottom: 20px !important;
  justify-content: space-between !important;
}
.rbc-toolbar span:first-child button:first-child {
  background: #FF4F94 !important;
    color: #fff !important;
    border-radius: 5px !important;
}
.rbc-btn-group button{
  cursor: pointer;
}
.rbc-toolbar span:first-child button:nth-child(2){
  color: #0880AE !important;
  margin-left: 15px !important;
    border-radius: 3px 0px 0px 3px !important;
    background: #E2F1F8 url(./images/left-arrow.svg) no-repeat left 12px center;
    background-size: 7px;
    padding-left: 30px !important;
}
.rbc-toolbar span:first-child button:nth-child(2):active{
  background: #E2F1F8 url(./images/left-arrow.svg) no-repeat left 12px center !important;
  background-size: 7px !important;
}
.rbc-toolbar span:first-child button:nth-child(3){
  color: #0880AE !important;
    background: #E2F1F8;
    border-radius: 0px 3px 3px 0px !important;
    background: #E2F1F8 url(./images/right-arrow.svg) no-repeat right 12px center;
    background-size: 7px;
    padding-right: 30px !important;

}

.rbc-toolbar span:first-child button:nth-child(3):active{
  background: #E2F1F8 url(./images/right-arrow.svg) no-repeat right 12px center !important;
  background-size: 7px !important;
}
.rbc-btn-group button:first-child {
  border-radius: 3px 0 0 3px !important;
}
.rbc-btn-group button:last-child {
  border-radius: 0 3px 3px 0!important;
}
.rbc-event{background: linear-gradient(151.13deg, #C643FC 0%, #FF7171 114.93%) !important;}
.rbc-row-segment .rbc-event-content{
  font-size:13px;
}
.rbc-show-more{
  font-size:11px !important
}
#multiselectContainerReact{
    padding: 0;
    margin-top:10px;
    order: 4;
    width: 100%;

}
#multiselectContainerReact > div{
  border:none !important;
  min-height:inherit !important;
  padding:0px !important;
}
#multiselectContainerReact input{
  padding: 0 10px;
  border: 1px solid #A8A8A8;
  border-radius: 4px;
  line-height: 31px;
  height: 37px;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Roboto',sans-serif;
}
#multiselectContainerReact .optionContainer ul{
  width:178px;
}
#multiselectContainerReact .optionContainer li{
padding:3px 5px !important;
}
#multiselectContainerReact .optionContainer li:first-child{
  background: transparent;
  color: #000;
}
#multiselectContainerReact .optionContainer li:first-child:hover{
  background: #0096fb;
    color: #fff;
}

#multiselectContainerReact > div i::before{
  background: url(./images/close-icon_1.svg);
  width: 10px;
  height: 10px;
  content: "" !important;
  position: relative;
  top: 1.5px;
}


.react-datetime-picker__inputGroup__input{
  font-size:13px !important;
}

@media (max-width:767px){
  #multiselectContainerReact{
    line-height:28px;
  }
  .modalButton button {
    height: 42px;
    margin-bottom: 25px;
}
.ModalHeader h3{
  font-size: 22px;
}
}

@media (max-width:520px){
  #multiselectContainerReact{
    order: 4;
    margin: 15px 0 0 0;
    width: 100%;
    max-width: 270px;
  }
}

.mt-10{margin-top:10px;}
.mt-15{margin-top:15px;}
hr{
  border:none;
  border-bottom: 1px solid rgba(255, 71, 157, 0.3);
  margin: 10px 15px;
}
.galleryImage{
background: #F2FBFF;
border: 1px solid rgba(219, 226, 234, 0.2);
box-sizing: border-box;
border-radius: 13px;
max-width: 153px;
min-height: 153px;
display: flex;
align-items: center;
justify-content: center;
cursor:pointer;
width:100%;
margin: 7px;
position: relative;
max-height: 153px;
}
.galleryImage img{
  max-width: 100%;
  max-height: 100%;
}

.galleryImage p{
  font-size: 14px;
  line-height: normal;
  color: #7C9CBF;
  display: flex;
  flex-direction: column;
  cursor:pointer;
  margin-top: 3px;
}
.galleryImage p img{
  margin-bottom: 10px;
}

.Image_wrap .galleryImage:hover::after {
  content: "";
  position: absolute;
  background: url(./images/cross-icon.svg) center center no-repeat rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.Image_wrap .galleryImage:nth-child(1):hover::after{
  display: none;
}

.close{
  position: absolute;
  top: -10px;
  right: -13px;
  border-radius:0px !important;
}

.wishlistGalery{
  position: absolute;
    top: 10px;
    right: 10px;
    border-radius:0px !important;
}

.rbc-toolbar .rbc-toolbar-label {
  flex-grow: 1;
  padding: 0 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #FF479D;
}

.rbc-btn-group{
  background: #F2FBFF;
  border-radius: 3px;
  overflow: hidden;
}
.rbc-day-slot .rbc-event{
  border:none !important
}
.rbc-time-slot {
  font-size: 11px !important;
  width: 77px;
  text-align: center;
  align-items: center;
  line-height: 45px;
  border-bottom: 0.5px solid #fff;
  font-weight: 500;
}
.rbc-timeslot-group .rbc-time-slot:last-child{
  display:none;
} 
.rbc-btn-group button{
  border-radius:0px !important;
  border:none !important;
  color:#000 !important;
}
.rbc-toolbar button:active:hover, .rbc-toolbar button:active:focus, .rbc-toolbar button.rbc-active:hover, .rbc-toolbar button.rbc-active:focus,.rbc-toolbar button:active, .rbc-toolbar button.rbc-active{
  background-color:#FF4F94 !important;
  color:#fff !important;
}

.rbc-time-content > .rbc-time-gutter {
  flex: none;
  background: #DBE2EA;
}
.rbc-btn-group button:first-child{border:none !important}

.rbc-time-view{
  border-radius:10px;
  border: 1px solid #FF479D !important;
  overflow:hidden;
}
.mt-25{
  margin-top:11px;
  max-height: 796px;
  overflow-y: auto;
  padding-bottom: 50px;
}
button a{
  text-decoration: none;
}

@media (max-width:767px){
  .rbc-toolbar span {
    margin: 5px 0;
}
.galleryImage{
  border-radius:8px;
  max-width: 94px;
  min-height: 94px;
  margin: 5px;
  }

}
.leftText{
padding:0px;
display: flex;
align-items: center;
width:100%;

}
.leftText .imgSection span{
  width: 14px;
  height: 14px;
  background: #FF479D;
  border-radius: 100%;
  position: absolute;
  bottom: 12px;
  right: 7px;
}
.leftText .text{
  width: calc(100% - 85px);
}
.leftText .imgSection{ position:relative; margin-right:15px; width:63px; height:63px; border-radius:100%; overflow: hidden; border:1px solid #C4C4C4;}
.leftText .text h2{font-size: 12px; margin-bottom: 3px;  color: #626262;  line-height: 15px; font-weight:normal;}
.leftText .content p{font-size: 9px;
  color: #979797;
  line-height: 15px;
  max-width: 280px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;}
.leftText .content span{ font-size:9px; color: #979797;}
.leftText .content span.active{color:#FF479D; border: none !important;}
.leftText .content{display:flex; justify-content: space-between; align-items: center;}

.Modal.galleryModal{
max-width:515px;
}

.Modal.galleryModal h3{
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height:12px;
}
.GallerySection{
  display: flex;
  flex-wrap: wrap;
  max-height: 329px;
  overflow-y: auto;
}

.GallerySection .list{
  width:111px;
  height:111px;
  border: 2px solid rgba(219, 226, 234, 0.2);
  box-sizing: border-box;
  border-radius: 13px;
  overflow: hidden;
  margin:2px;
}
.GallerySection .list.active{
  border-color:#FF479D;

}
.Modal.galleryModal .ModalHeader{margin-bottom:15px;}
.Modal.galleryModal button{height: 34px; font-size:14px; margin-top:15px;}
.uploadimg{
background: #FFFFFF;
border: 1px dashed #FF479D;
border-radius: 14px;
height:46px;
display: flex;
align-items: center;
justify-content: center;
margin-top:15px;
}
.uploadimg p{
  font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 36px;
color: #ABABAB;
}
.uploadimg p span{
  color:#FF479D
}
.Modal.galleryModal ul{
  list-style:none;
  margin-top:20px;
}
.Modal.galleryModal li{
  font-size: 12px;
line-height: 18px;
color: #979797;
}
.Modal.galleryModal li img{
  width:8px;
  margin-left:10px;
  cursor:pointer;
}
@media (max-width:1024px){
  .GallerySection .list{
    width:75px;
    height:75px;
  }
  .GallerySection{
    max-height: 157px;
  }
  .Modal.galleryModal{
    height:auto;
  }
}

.Modal.postModal{
  max-width: inherit;
  padding:0px;
  border-radius: 24px;
}

.postOuter{
  padding: 25px 25px 0;
  width: 100%;
}
.postOuter button{
  cursor: pointer;
  float: right;
  margin-bottom: 10px;
  border:none;
  background: transparent;
}
@media (max-width:767px){
  .postOuter button{
    position: absolute;
    right: 15px;
    top: 10px;
  }
  .postOuter{
    max-width: inherit;
    width: 100%;
  }
}
.postOuter button:focus{
  outline:none;
}
.postDetails{
  clear:both;
}
.postOuter button img{
  width:14px;
}
.imageSlider{
    background: #2f2f2f;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    align-items: center;
    max-width: 50%;
    width: 100%;
    text-align: center;
    
}
.imageSlider img{
  text-align: center;
  margin: 0 auto;
  max-width:90%;
  max-height: 100%;
  width: auto;
  height: auto;
  border-radius: 20px;
}
.Modal.postModal .ContentModal{
flex-direction: row;
width: auto;
}
.messageSec {
  display: flex;
  border-bottom:1px solid #FF479D;
  padding-bottom: 15px;
}

.messageSec .text {
  width: calc(100% - 74px);
}
.messageSec .image{
  width:55px;
  height:55px;
  border-radius: 100%;
   position:relative;
   overflow:hidden;
   margin-right:20px;
   display: flex;
   background: #7C9CBF;
   align-items: center;
   justify-content: center;
}

.messageSec .image img{
  max-width: 100%;
  /* width: 100%;
  height: 100%; */
    /* max-height: 100%; */
    display: block;
}

.messageSec .image span{
position: absolute;
width: 14px;
height: 14px;
background: #14A38B;
border: 2px solid #FFFFFF;
box-sizing: border-box;
left: 41px;
top: 36px;
}
.messageSec h2{
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000;
}
.messageSec span{
font-size: 8px;
line-height: 12px;
color: #979797;
}
.messageSec p{
font-size: 9px;
line-height: 12px;
color: #280A33;
margin-top:5px;
}

.Icon{
  display: flex;
  align-items: center;
  justify-content: flex-start;;
}

.Icon div{
  margin-right: 20px;
  position:relative;
  cursor:pointer;
  display:flex;
  align-items: center;
  padding-bottom:10px;
}
.Icon sup{
  background: #FF479D;
  width: 14px;
  height: 14px;
  color: #fff;
  border-radius: 100%;
  font-size: 9px;
  font-weight: 700;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -7px;
  right: -7px;
}
.Icon div:last-child sup{
    top: -2px;
    right: -3px;
}
.postBottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top:15px;
}
.postBottom p{
  color:#C5C5C5;
  font-size: 10px;
line-height: 12px;
}

.commentSec {
  margin-top: 25px;
}

.left{
background: #F8F8F8;
border-radius: 19px;
padding:15px;
margin-right:10px;
max-width: calc(100% - 50px);
width: 100%;
}
.ml-55{
  margin-left:55px;
}
.commentLeft {
  display: flex;
  margin-bottom:15px;
}
.commentLeft:last-child{
  margin-bottom:0px;
}

.topHeading {
  display: flex;
  justify-content: space-between;
}
.commentText {
  width: calc(100% - 40px);
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.commentText h3{
  font-size: 11px;
line-height: 12px;
font-weight: normal;
color: #000000;
}
.commentText p{
  font-weight: normal;
font-size: 11px;
line-height: 12px;
color: #979797;
margin-top:10px;
}
.commentText span{
  font-weight: normal;
font-size: 9px;
line-height: 12px;
color: #979797;
}
.commentimg{
  width:31px;
  height:31px;
  overflow: hidden;
  border-radius:100%;
}

.commenticon img:first-child{
  width:14px;
}
.commenticon img:last-child{
  width:16px;
}
@media (max-width:1399px){
  .Modal.postModal {
    max-width: inherit;
}
  .imageSlider{
    /* max-width:500px; */
  }
  .imageSlider img{max-width:80%;}
  .commentSec {
    height: 180px;
    overflow-y: auto;
}
}

@media (max-width:991px){
  .commentSec {
    height:90px;
  }
  .Modal.postModal {
    max-width: 665px;
    margin-right: 15px;
    margin-left: 15px;
   
  }

  
}
@media (max-width:767px){
  .commentSec {
    height:100%;
  }
  .Modal.postModal .ContentModal {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:auto;
    padding: 30px 15px 15px;
  }
  .imageSlider img {
    max-width: 100%;
  }
  .imageSlider{
    max-width:inherit;
    margin-right: 0px;
  }
  .alice-carousel__stage-item{
    width: 100% !important;
  }
  .alice-carousel__wrapper{
    width: 260px !important;
  }
}
.react-datetime-picker__calendar-button svg{
  display:none !important;
}
.react-datetime-picker__calendar-button::after{
  content: url(./images/calander.svg);
  position: relative;
  width:25px;
  height:25px;
  top: 3px;
}

.rbc-current-time-indicator{
  background-color: transparent !important;
}

.btnRegister{
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea{
  background: #FFFFFF;
  border: 0.25px solid rgba(239,77,182,0.5);
  box-shadow: inset 0px 0px 8px rgba(124,156,191,0.1);
  border-radius: 5px;
  height: 171px;
  font-family: 'Roboto',sans-serif;
  width: 100%;
  padding: 15px;
  font-size: 12px;
  line-height: 18px;
  color: #6C6C6C;
  resize: none;
  }
  textarea:focus{
  outline:none;
  }
  @media (max-width:991px){
  textarea{
  height: 100px;
  }
  }

  .login-form-nested-wrapper{
    margin-top: 10px;
  }

  .login-form-nested-wrapper .link-btn{
  text-decoration: none;
}
  
  .login-form-nested-wrapper .code{
    position: relative;
    top: -28px;
    font-size: 14px;
    color: #2C2738;
  }
  .editModal .modalButton{
    margin-top: 25px;
  }
  .editModal textarea{
    margin-top:10px;
  }
  .loader{
    min-height:463px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  @media (max-width: 767px){
    .Modal.editModal {
      height: inherit;
  }
  .Modal.editModal button{
    margin-bottom:0px;
  }
  }
.monthDayYear span{
  padding: 0 2px !important;
}
.monthView {
    padding: 0px;
    display: flex;
    border-radius: 10px;
    border: 1px solid #FF479D !important;
    margin-top:95px;
    position: relative;
}
.monthView .rbc-month-view{
  border:none;
}
.monthView .rbc-header{
  border:none;
  background:transparent;
  color: #727272;
}
.monthView .rbc-header + .rbc-header{
  border-left: none;
}
.monthView .rbc-day-bg + .rbc-day-bg {
  border-left: none;
}
.monthView .rbc-month-row + .rbc-month-row{
border-top:none;
}
.monthView .rbc-calendar{
  padding: 25px 25px 10px;
  height: auto !important;
}

.monthView .rbc-calendar .rbc-date-cell {
  flex: unset;
  width: 30px;
  height: 30px;
  padding-right: 0px;
  background: transparent;
  border-radius:100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.monthView .rbc-calendar .rbc-today {
  background-color: transparent;
}
.monthView .rbc-calendar .rbc-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 2px;
}

.monthView .rbc-calendar .rbc-off-range-bg {
  background: transparent;
}

.monthView .rbc-calendar .rbc-date-cell{
  font-size:12px;
  color: #2D5D92;
}
.monthView .rbc-calendar .rbc-date-cell.rbc-off-range{
  color: #DADADA;
}
.monthView .rbc-calendar .rbc-date-cell.rbc-now.rbc-current{
  color: #FFFFFF;
  background: #87dce5;
}

.monthView .rbc-calendar .rbc-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
  position: absolute;
  top: -43.94px;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.monthView .rbc-calendar .rbc-month-row {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: unset;
  /* flex-basis: 0px; */
  overflow: hidden;
  max-height: 69px;
  line-height: 17px;
  height: 100%;
}

.monthView .rbc-calendar .rbc-event {
  background: #FF4F94 !important;
opacity: 0.5;
border-radius:15px;
}
.monthView .rbc-calendar .rbc-event-continues-prior{
  border-radius:5px;
}

.react-tag-input{
  background: transparent !important;
  border: none !important;
}
.react-tag-input__tag{
height: 37px;
background: #f3f1f5 !important;
font-size: 14px;
display: inline-flex;
border-radius: 40px !important;
justify-content: center;
align-items: center;
padding: 0 15px;
margin-right: 10px;
color:#280A33;
margin: 10px 10px 10px 0;
line-height:40px;
cursor:pointer;
box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.08);
border-radius: 17px;
border:1px solid #facdd0;
min-width:110px;
margin-bottom: 10px !important;
text-align: left;
justify-content: flex-start;
}
.react-tag-input__tag__remove{
  background: transparent !important;
}
.react-tag-input__tag__content{
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  font-family: IBM Plex Sans;
  color: #280A33;
  text-align: left;
  padding-left: 0 !important;
}
.react-tag-input__tag__remove::before{
  display: none;
}
.react-tag-input__tag__remove::after{
  display: none;
 
}
.react-tag-input__tag__remove{
  background: url(./images/cross-brown.svg) no-repeat center !important;
  width: 12px !important;
  height: 11px !important;
  border-radius: 0px !important;
  margin-left: auto;
}

.rbc-time-view{
  overflow-y: auto !important;
  }
  .rbc-time-content{
  overflow-y: initial !important;
  border-top: 1px solid #DDD !important;
  }

.monthView .rbc-row-segment .rbc-event-content {
    font-size: 0px;
}

.monthView .rbc-row-segment .rbc-event-content:focus
,.monthView .rbc-row-segment:focus,.monthView .rbc-calendar .rbc-event:focus{
       outline: none;
  }

  .monthView .CalenderSec .rbc-row-content {
    z-index: inherit;
    height: 54px;
    overflow: hidden;
}

.rbc-day-slot .rbc-event-label {
  flex: none;
  padding-right: 5px;
  width: auto;
  display: none;
}

.mapText{
background: #fff;
color:#280A33;
font-weight:600;
padding:3px 4px;
font-size: 13px;
max-width:150px;
min-width: 80px;

}
.mapTextOuter img{
  width: 37.5px;
}
.openingHrs div:before,.openingHrs div:after{
display: none;
}
.openingHrs input:focus,.openingHrs div:focus{
  background: transparent;
}

.rbc-event:focus {
  outline: 0 !important;
}

.error_msg_popup{
  color: #ff0000;
  font-size: 16px;
  margin: 0 0 10px;
}

.MuiFormControl-root{
  width: 100%;
}


@media not all and (min-resolution:.001dpcm) {
  .Custom_modal .MuiSelect-select.MuiSelect-select{
    padding-bottom: 0;
    margin-top: 7px;
  }
  .rbc-timeslot-group{
    min-height: 47px;
  }
  .monthView .rbc-calendar .rbc-month-row{
    height: 55px;
  }
  .rbc-time-view .rbc-allday-cell{
    height: auto;
  }
  .Custom_modal .MuiInput-underline:before, .Custom_modal .MuiInput-underline:after{
    bottom: -22px;
  }
}
  

  


.MuiButtonBase-root.MuiButton-root.MuiButton-text{
  padding: 0;
  line-height: normal;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text:hover, .MuiButtonBase-root.MuiButton-root.MuiButton-text:focus{
  background: transparent;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text span.MuiButton-label {
  font-size: 24px !important;
  justify-content: flex-start !important;
  color: #d2d2d2 !important;
}

.MuiPaper-root.MuiMenu-paper {
  box-shadow: 2px 2px 2px #e5e5e5 !important;
  border-radius: 4px !important;
  border: 1px solid #e5e5e5;
}

.mentions {
  margin: 1em 0;
  }
  
  .mentions--singleLine .mentions__control {
  display: inline-block;
  }
  .mentions--singleLine .mentions__higlighter {
  padding: 1px;
  border: 2px inset transparent;
  }
  .mentions--singleLine .mentions__input {
  padding: 5px;
  border: 2px inset;
  }
  
  .mentions--multiLine .mentions__control {
  font-family: monospace;
  font-size: 14pt;
  border: 1px solid silver;
  }
  .mentions--multiLine .mentions__highlighter {
  padding: 9px;
  }
  .mentions--multiLine .mentions__input {
  padding: 9px;
  min-height: 63px;
  outline: 0;
  border: 0;
  }
  
  .mentions__suggestions__list {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 10pt;
  }
  
  .mentions__suggestions__item {
  padding: 5px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  
  .mentions__suggestions__item--focused {
  background-color: #cee4e5;
  }
  
  .mentions__mention {
  background-color: #cee4e5;
  }
  

  .mentions--multiLine .mentions__control{
    background: #fff;
    border: .25px solid rgba(239,77,182,.5);
    box-shadow: inset 0 0 8px rgba(124,156,191,.1);
    border-radius: 5px;
    height: 171px;
    font-family: "Roboto",sans-serif;
    width: 100%;
    padding: 15px;
    font-size: 12px;
    line-height: 18px;
    color: #6c6c6c;
    resize: none;
  }

.postDetails .Icon img {
  max-width: 18px;
}


.postModal{
  width: auto;
}

.postModal .Icon sup{
  font-size: 16px;
  line-height: 15px;
  color: #D2D2D2;
  margin-left: 5px;
  background: transparent;
  position: relative;
  top: inherit;
  right: inherit;
  font-weight: normal;
}

.postModal .Icon div:last-child sup {
  top: inherit;
  right: inherit;
}



.MuiPickersModal-dialogRootWider .MuiButtonBase-root.MuiButton-root.MuiButton-text span.MuiButton-label {
  font-size: inherit !important;
  justify-content: inherit !important;
  color: inherit !important;
}

.sliderimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.alice-carousel__prev-btn, .alice-carousel__next-btn {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  padding: 15px 10px;
  width: 28px !important;
  height: 28px !important;
  left: -25px;
  position: relative;
  cursor: pointer;
  position: absolute;
  top: 45%;
}

.alice-carousel__next-btn{
  right:-5px;
  left: inherit;
}

.alice-carousel__prev-btn [data-area]::after, .alice-carousel__next-btn [data-area]::after{
  
  content: url(./images/right-arrow-black.svg) !important;
  width: 16px;
  height: 16px;
  background-size: 100%;
  position: relative;
  top: 10px;
}
.alice-carousel__prev-btn-item{
  transform: rotate(180deg);
}
.alice-carousel__prev-btn-item, .alice-carousel__next-btn-item{
  width: 100%;
}
.alice-carousel__next-btn [data-area]::after{
  top: -8px;
}

.alice-carousel__stage-item{
  vertical-align: middle !important;
}

.monthHeader{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}



.alice-carousel__dots{
  display: none;
}

.Image_wrap .Imgcontent{
  justify-content: center;
}

.EventsImage{
  background: #f2fbff;
    border: 1px solid rgba(219,226,234,.2);
    box-sizing: border-box;
    border-radius: 13px;
    max-width: 153px;
    min-height: 153px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    margin: 7px;
    position: relative;
    max-height: 153px;
}
.EventsImage img{
  max-width: 100%;
  max-height: 100%;
}

.Image_wrap .Imgcontent .EventsImage:hover::after {
  content: "";
  position: absolute;
  background: url(./images/cross-icon.svg) center center no-repeat rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.rbc-event{
  border-radius: 5px !important;
}

.btnhover:hover, .btnhover:focus{
  background: #0FB1D2 !important;
}

.rbc-day-slot .rbc-timeslot-group .rbc-time-slot{
  border-bottom: 0 !important;
}
.monthView .rbc-calendar .rbc-date-cell.rbc-now.rbc-current .monthHeader {
  font-weight: bold;
  color: #564a4a !important;
}

.alice-carousel__prev-btn-item, .alice-carousel__next-btn-item{
  color: #465798;
  background: #fff;
  border-radius: 6px;
  width: 28px !important;
  height: 28px !important;
  left: 0;
}

.alice-carousel__prev-btn-item span, .alice-carousel__next-btn-item span{
    display: block;
    width: 10px;
    text-align: center;
    height: 10px;
    right: -9px;
    position: relative;
    top: -5px;
}

.alice-carousel__next-btn-item span{
  top:13px;
}

.dateWrap{
  padding: 15px;
}

.dateWrap h4{
  border: 0 !important;
  font-size: 14px !important;
  line-height: normal !important;
  margin: 0 !important;
  padding: 0 !important;
}

.dateWrap h3{
  color: #FF479D;
  line-height: 36px;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
}

.dateWrap h2{
  border: 0 !important;
  font-size: 20px !important;
  line-height: normal !important;
  margin: 0 !important;
  padding: 0 !important;
  font-weight: 500 !important;
  color: #C4C4C4 !important;
}

.disabledCompanyname{
  background: #e9e9e9 !important;
  opacity: 0.8;
}


.rbc-time-view::-webkit-scrollbar {
  width: 6px;
}
.rbc-time-view::-webkit-scrollbar-track {
  background:transparent;
}
.rbc-time-view::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
.rbc-time-view::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

@media (min-width: 1199px){
  .Modal.postModal .ContentModal{
    width: 1000px;
  }
  .imageSlider{
    min-height: 600px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .monthView .rbc-calendar .rbc-toolbar{
    top: -60px;
  }
  .CalenderSec .rbc-btn-group{
    margin-bottom: 10px;
  }
  .dateWrap {
    padding: 5px;
  }
  .dateWrap h3{
    font-size: 18px;
  }
  .btnhover{
    margin-bottom: 10px;
  }
  .monthView .rbc-header{
    margin-bottom: 10px;
  }
}

@media (max-width: 1120px){
  .rbc-header{
    padding: 0 7.5px 0 8.0px !important;
    text-overflow: unset !important;
    border-bottom: 1px solid #DDD !important;
  }
  .rbc-time-view {
    overflow: auto !important;
  }
  .rbc-time-header-content{
    min-width: inherit !important;
    border-bottom: 1px solid #DDD !important;
  }
  .rbc-time-content{
    border-top:0 !important ;
  }
  
}

@media (max-width: 767px){
  body, html{
    overflow-x: hidden;
  }
  .monthView{
    flex-direction: column;
  }
  .monthView .rbc-calendar .rbc-toolbar{
    top: -90px;
  }
  .dateWrap {
    padding: 15px 0;
  }
  .rbc-toolbar{
    justify-content: center !important;
  }
  .input-tag__tags li.input-tag__tags__input{
    width: 100% !important;
  }
}
.input-tag {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px 0;
}

.input-tag input {
  border: none;
  width: 100%;
}

.input-tag__tags {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.input-tag__tags li {
  height: 37px;
    background: #f3f1f5!important;
    font-size: 14px;
    display: inline-flex;
    border-radius: 40px!important;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    color: #280a33;
    margin: 10px 10px 10px 0;
    line-height: 40px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(44,39,56,.08);
    border-radius: 17px;
    border: 1px solid #facdd0;
    min-width: 110px;
    margin-bottom: 10px!important;
    text-align: left;
    justify-content: flex-start;
    font-weight: 500!important;
    font-size: 14px!important;
    line-height: 18px!important;
}

.input-tag__tags li button {
  align-items: center;
  appearance: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  height: 10px;
  justify-content: center;
  line-height: 0;
  margin-left: auto;
  padding: 0;
  width: 10px;
  background: url(./images/cross-brown.svg) no-repeat center !important;
}

.input-tag__tags li button:hover, .input-tag__tags li button:focus{
  outline: 0;
  border: none;
}

.input-tag__tags li.input-tag__tags__input {
  background: none;
  flex-grow: 1;
  padding: 0;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(219, 226, 234);
  box-sizing: border-box;
  box-shadow: rgba(44, 39, 56, 0.08) 0px 2px 4px;
  border-radius: 17px;
  height: 34px;
  padding: 0px 15px 0px 15px;
  font-family: "IBM Plex Sans", sans-serif;
  width: calc(100% - 265px);
  min-width: inherit;
  ;
}

.input-tag__tags li.input-tag__tags__input input{
  background: transparent;
  border: 0;
  box-shadow: none;
  width: 100%;
  padding: 0;
  font-weight: 500!important;
  font-size: 14px!important;
  line-height: 18px!important;
  color: #280a33
}

@media (min-width: 768px){
  .Custom_modal{
    max-height: 700px;
    height: 90%;
  }
  .Custom_modal .ContentModal::-webkit-scrollbar {
    width: 6px;
  }
  .Custom_modal .ContentModal::-webkit-scrollbar-track {
    background:transparent;
  }
  .Custom_modal .ContentModal::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }
  .Custom_modal .ContentModal::-webkit-scrollbar-thumb:hover {
    background: #ccc;
  }
  .Custom_modal .modalButton{
    padding-bottom: 15px;
  }
  .Custom_modal .ContentModal{
    padding-right: 15px;
    overflow-y: auto;
  }
}
.postModalDetails{
  overflow-x: hidden;
}