.header {
  
}

.left-header {
  /* width: 33vw; */
}


.title {
  /* width: 33vw; */
  align-items: center;
  justify-content: center;
  text-align: center;
  color: hotpink;
  font-size: 24px;
}

.right-header {
  /* width: 33vw; */
  font-size: 20px;
  color: purple;
}

.toggle {
  color: red;
  width: 30px;
  height: auto;
}
